{
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          // "*": "./src",
          "@screens": "./src/screens",
          "@navigation": "./src/navigation",
          "@store": "./src/store",
          "@types": "./src/types",
          "@imgs": "./src/assets/imgs",
          "@features": "./src/features",
          "@hooks": "./src/hooks",
          "@utils": "./src/utils",
          "@config": "./src/config",
          "@service": "./src/service"


        }
      }
    ],
    ["module:react-native-dotenv"]
    ]
}
