{
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "*": "./src",
          "_screens": "./src/screens",
          "_navigation": "./src/navigation"
        }
      }
    ],
    ["module:react-native-dotenv"]
    ]
}
